In [1]:
import pandas as pd
import numpy as np

In [2]:
true=pd.read_csv("/Users/ronak/Library/Containers/com.microsoft.Excel/Data/Downloads/archive (1)/True.csv")

In [3]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake=pd.read_csv("/Users/ronak/Library/Containers/com.microsoft.Excel/Data/Downloads/archive (1)/Fake.csv")

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true["label"]=1
fake["label"]=0

In [7]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
df=pd.concat([true,fake],axis=0)

In [10]:
df.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [11]:
df.tail()

,title,text,subject,date,label
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [12]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44898 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 2.1+ MB

In [14]:
df=df.drop(["title","subject","date"],axis=1)

In [15]:
df.head()

                                                text  label
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [16]:
df=df.sample(frac=1)

In [17]:
df.head()

                                                    text  label
11184  Dr. Ben Carson just found over $500 Billion mi...      0
9174   Eric Holder just doubled down on threats this ...      0
17375  MANILA (Reuters) - Nearly nine out of 10 Filip...      1
16790  Perhaps Merkel should have considered the seri...      0
18497  MOSCOW (Reuters) - A Russian court sentenced o...      1

In [18]:
df.reset_index(drop=True, inplace=True)
df.head()

                                                text  label
0  Dr. Ben Carson just found over $500 Billion mi...      0
1  Eric Holder just doubled down on threats this ...      0
2  MANILA (Reuters) - Nearly nine out of 10 Filip...      1
3  Perhaps Merkel should have considered the seri...      0
4  MOSCOW (Reuters) - A Russian court sentenced o...      1

In [19]:
df["label"].value_counts()

label
0    23481
1    21417
Name: count, dtype: int64

In [20]:
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [21]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /Users/ronak/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/ronak/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/ronak/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [22]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [23]:
def preprocess_text(text):
    # 1. Lowercase
    text = text.lower()
    
    # 2. Remove URLs (http, https, www)
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # 3. Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # 4. Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # 5. Remove extra whitespace
    text = text.strip()
    
    # 6. Tokenize and remove stopwords
    tokens = [word for word in text.split() if word not in stop_words]
    
    # 7. Lemmatization
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    
    return " ".join(tokens)

In [24]:
df['clean_text'] = df['text'].apply(preprocess_text)

In [25]:
df=df.drop(["text"],axis=1)

In [26]:
df.head()

   label                                         clean_text
0      0  dr ben carson found billion missing audit hud ...
1      0  eric holder doubled threat old radical rocker ...
2      1  manila reuters nearly nine filipino support ph...
3      0  perhaps merkel considered serious consequence ...
4      1  moscow reuters russian court sentenced opposit...

In [27]:
X=df["clean_text"]
y=df["label"]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
X_train, X_test, y_train, y_test = train_test_split(
    df['clean_text'],  # use clean_text column here
    df['label'],
    test_size=0.2,
    random_state=42
)

# 3️⃣ Apply CountVectorizer
cv = CountVectorizer(max_features=5000)
X_train_bow = cv.fit_transform(X_train).toarray()
X_test_bow = cv.transform(X_test).toarray()

print("Train shape:", X_train_bow.shape)
print("Test shape:", X_test_bow.shape)

Train shape: (35918, 5000)
Test shape: (8980, 5000)

In [29]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [30]:
# Models to test (including XGBoost)
models = {
 
    "Logistic Regression": LogisticRegression(),
   
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "XGBoost":XGBClassifier(n_estimators=100,max_depth=5,use_label_encoder=False,eval_metric='logloss')
}

# Train & evaluate
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

for name, model in models.items():
    print("="*60)
    print(f"Model: {name}")
    print("="*60)
    
    # Train
    model.fit(X_train_bow, y_train)
    
    # Predict
    y_pred = model.predict(X_test_bow)
    
    # Metrics
    acc = accuracy_score(y_test, y_pred)
    prec = precision_score(y_test, y_pred, average='weighted')
    rec = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    
    print(f"Accuracy   : {acc:.4f}")
    print(f"Precision  : {prec:.4f}")
    print(f"Recall     : {rec:.4f}")
    print(f"F1 Score   : {f1:.4f}")
    
    # Classification report
    print("\nClassification Report:")
    print(classification_report(y_test, y_pred))
    
    # Confusion matrix
    cm = confusion_matrix(y_test, y_pred)
    print("Confusion Matrix:")
    print(cm)
    print("\n")

============================================================
Model: Logistic Regression
============================================================
Accuracy   : 0.9970
Precision  : 0.9970
Recall     : 0.9970
F1 Score   : 0.9970

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4684
           1       1.00      1.00      1.00      4296

    accuracy                           1.00      8980
   macro avg       1.00      1.00      1.00      8980
weighted avg       1.00      1.00      1.00      8980

Confusion Matrix:
[[4670   14]
 [  13 4283]]


============================================================
Model: Decision Tree
============================================================
Accuracy   : 0.9963
Precision  : 0.9963
Recall     : 0.9963
F1 Score   : 0.9963

Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      4684
           1       1.00      0.99      1.00      4296

    accuracy                           1.00      8980
   macro avg       1.00      1.00      1.00      8980
weighted avg       1.00      1.00      1.00      8980

Confusion Matrix:
[[4675    9]
 [  24 4272]]


============================================================
Model: Random Forest
============================================================
Accuracy   : 0.9983
Precision  : 0.9983
Recall     : 0.9983
F1 Score   : 0.9983

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4684
           1       1.00      1.00      1.00      4296

    accuracy                           1.00      8980
   macro avg       1.00      1.00      1.00      8980
weighted avg       1.00      1.00      1.00      8980

Confusion Matrix:
[[4673   11]
 [   4 4292]]


============================================================
Model: XGBoost
============================================================

/opt/anaconda3/lib/python3.12/site-packages/xgboost/training.py:183: UserWarning: [19:43:37] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Accuracy   : 0.9978
Precision  : 0.9978
Recall     : 0.9978
F1 Score   : 0.9978

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4684
           1       1.00      1.00      1.00      4296

    accuracy                           1.00      8980
   macro avg       1.00      1.00      1.00      8980
weighted avg       1.00      1.00      1.00      8980

Confusion Matrix:
[[4671   13]
 [   7 4289]]